---
before_install: gem update bundler
before_script: bundle exec rake db:create db:schema:load
after_script: bundle exec rubocop -R
bundler_args: --without assets:development:production
language: ruby
rvm:
  - 2.1.2
