---
before_install: gem update bundler
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -U postgres -c "create extension postgis"
  - bundle exec rake db:schema:load
after_script: bundle exec rubocop -R
bundler_args: --without assets:development:production
language: ruby
rvm:
  - 2.2.0
addons:
  postgresql: "9.3"
  code_climate:
    repo_token: ab3c692cf8f6dd9c41e6e77417096877a764ded0fec448a03cf5c70b06ea8e0e
