.modal.fade#background
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          Adopt a Drain SF Background
      .modal-body
        %h3
          Adopt a Drain
        %p
          The Adopt a Drain program empowers San Franciscans to "adopt" one or
          more of the City's 25,000 storm drains (also called catch basins) and
          pledge to keep it free of leaves and debris. The program helps reduce
          localized flooding and fosters community engagement by empowering
          residents and business owners to show their love of the City by
          taking an active role in taking care of and improving the
          neighborhood where they live and work.

        %h3
          Background
        %p
          In late 2015, several San Francisco City agencies partnered with
          volunteers from <a href="http://codeforsanfrancisco.org/">Code for
          San Francisco</a> to develop the Adopt a Drain SF web application.

        %p
          The San Francisco Public Utilities Commission (SFPUC), the agency
          that manages the sewer system, including 25,000+ catch basins and
          storm drains, and San Francisco Public Works, the agency that
          maintains the database of sewer infrastructure assets, worked with
          the City's Open Data Program in the Mayor's Office to get the storm
          drain location data uploaded to the <a
          href="https://data.sfgov.org/">City's Open Data Portal</a> (SF Open
          Data).

        %p
          Code for San Francisco and other volunteers then used a web-based
          platform called <a
          href="https://github.com/sfbrigade/adopt-a-drain">Github</a> to
          develop the open source web application on <a
          href="http://rubyonrails.org/">Ruby on Rails</a>. Github enabled
          contributors to work on the project from anywhere in the world.  They
          modeled Adopt a Drain SF on Boston's <a
          href="http://www.adoptahydrant.org/">Adopt a Hydrant</a>, for which
          Code for America had provided initial support to develop in 2012.

        %p
          Code for San Francisco volunteers used a web-based platform called <a
          href="https://github.com/sfbrigade/adopt-a-drain">GitHub</a> to
          develop the open source web application on <a
          href="http://rubyonrails.org/">Ruby on Rails</a>. GitHub enabled
          contributors to work on the project from anywhere in the world.
          They modeled Adopt a Drain San Francisco on Boston's <a
          href="http://www.adoptahydrant.org/">Adopt a Hydrant</a>, for
          which Code for America had provided initial support to develop
          in 2012. Approximately 25 people contributed to coding and
          developing the app.

        %h3
          Volunteer Developer Opportunities
        %p
          Are you a programmer with Ruby on Rails experience who wants to help
          improve and maintain the Adopt a Drain application? Don't be shy!
          We're always <strong>seeking assistance with the code</strong>! Click
          on the buttons below to view and follow our GitHub page.

        %p
          %a{href: "https://github.com/sfbrigade/adopt-a-drain", class: ""}
            =image_tag "icons/github.png", :alt => "adopt-a-drain github", :title => "adopt-a-drain github"
          <iframe src="https://ghbtns.com/github-btn.html?user=sfbrigade&repo=adopt-a-drain&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        %h3
          Contact
        %p
          Email questions and feedback to <a href="mailto:info@sfwater.org?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)}">info@sfwater.org</a>.
          We'd love to hear from you!

      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
