.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          What does it mean to adopt a drain?
      .modal-body
        %p.lead
          Thank you for your interest in adopting one or more of San Francisco's 25,000+ storm drains. By pledging to keep your drain clear, you are helping to protect the environment, manage stormwater, and minimize flooding. 
        %h3
          How to care for your adopted drain
        %ul
          %li
            If possible, clear the drain BEFORE it starts raining.
          %li
            Put leaves and other natural material in the green compost bin.
          %li
            Put trash and debris in the black garbage bin.
          %li
            Clear about 10 feet on both sides of the drain.
        %h3
          Safety tips
        %ul
          %li
            Never try to lift the drain grate.
          %li
            Clear from the sidewalk and wear reflective clothing so vehicles can see you.
          %li
            Wear gloves and use a rake, shovel, or broom.
          %li
            Medical waste or needles? Construction debris? Toxic materials? If it's an emergency, call 9-1-1. If not, 
            =link_to("report it to 311.","http://www.sf311.org/index.aspx?page=298")
        %h3
          What if
        %ul
          %li
            The drain is too dirty or hard to clear or there's some other problem with the drain.
            %ul
              %li
                = link_to("Contact 311 on the web","http://www.sf311.org/index.aspx?page=127") 
                (or dial 3-1-1) to have it cleared by the City.
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close


