.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          What Does it Mean To Adopt a Drain?
      .modal-body
        %p
          Thank you for your interest in adopting one or more of San
          Francisco's 25,000+ storm drains (also called catch basins). By
          pledging to keep your drain free of leaves and debris, you are
          joining your neighbors in helping to protect the environment, manage
          stormwater, and minimize flooding.
        %h3
          How to Care For Your Adopted Drain
        %ul
          %li
            If possible, clear the drain before it starts raining.
          %li
            Put leaves and other natural material in the green compost bin.
            Put trash in the black garbage bin.
          %li
            Clear about 10 feet on both sides of the drain.
          %li
            Medical waste or needles? Construction debris? Toxic materials? <a target="_blank" 
            href=" http://www.sf311.org/index.aspx?page=298"> 
            Report it to the City's Customer Service Center, 311 on the web </a>
            (or dial 3-1-1).
        %h3
          Drain Cleaning Safety Tips
        %ul
          %li
            Never try to lift the drain grate.
          %li
            Clear from the sidewalk, not the street.
          %li
            Wear reflective clothing so vehicles can see you.
          %li
            Always wear gloves and be careful of sharp objects!
          %li
            Use a rake, broom, or shovel - not your hands.
        %p
          %em
            Remember, the City and County of San Francisco won't be held
            responsible for anything that happens to you or others in service
            of maintaining your drain. Please be careful!

        %h3
          Free Tools and Training
        %p
          We invite drain adopters to periodic events during the rainy season
          where they can receive drain cleaning trainings and free tools and
          supplies. Please keep an eye on your email for notification of these
          events. You will also receive email reminders from the SFPUC to clear
          your drains when rain is expected.

        %h3
          Spread the Word!
        %p
          Excited about the Adopt a Drain program? Want to encourage your
          coworkers, friends and neighbors to participate? Utilize social media
          to spread the word.
        %p
          %a{target: "_blank", href: "https://www.facebook.com/SFWater", class: ""}
            =image_tag("icons/facebook.png", :alt => "sfwater facebook", :title => "sfwater facebook")
          %a{target: "_blank", href: "https://www.instagram.com/sfwater/", class: ""}
            =image_tag "icons/instagram.png", :alt => "sfwater instagram", :title => "sfwater instagram"
          %a{target: "_blank", href: "https://twitter.com/SFWater", class: ""}
            =image_tag "icons/twitter.png", :alt => "sfwater twitter", :title => "sfwater twitter"

        %p
          Remember to tag us <a target="_blank" href=https://twitter.com/sfwater?lang=en>@SFWater</a>
          and to use the following hashtags: <a target="_blank"
          href="https://twitter.com/hashtag/drainhero">#DrainHero</a>, <a target="_blank"
          href="https://twitter.com/hashtag/adoptadrain">#AdoptADrain</a> and <a target="_blank"
          href="https://twitter.com/hashtag/sfsewer">#SFSewer</a>.

        %h3
          Volunteer Developer Opportunities
        %p
          Are you a programmer with Ruby on Rails experience who wants to help
          improve and maintain the Adopt a Drain application? Don't be shy!
          We're always seeking assistance with the code! Get involved and
          follow our <a target="_blank"
          href="https://github.com/sfbrigade/adopt-a-drain">GitHub page</a>.

        %h3
          Contact Us
        %p
          Email questions and feedback to <a target="_blank"
          href="mailto:info@sfwater.org">info@sfwater.org</a>. We'd love to
          hear from you!

      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
