%div.user-things
  %h5.my-things= t('labels.my_things', :things => t('defaults.things'))
  %dl
    - current_user.things.each do |thing|
      %dt
        %a.thing-link{ :data => { :lng => thing.lng, :lat => thing.lat } }=thing.display_name
      %dd=thing.street_address
  .break
