html {
  height: 100%;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#map_canvas {
  float: left;
  height: 100%;
  width: 75%;
}

#sidebar {
  float: left;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

form {
  width: 90%;
  margin: auto;
}

#sidebar #tagline {
  text-align: center;
  padding: 10px;
  background: #c33;
  color: #fff;
}

#sidebar #logos {
  text-align: center;
}

#sidebar #logos img {
  padding: 10px 5px 0 5px;
}

#sidebar img#hydrant-in-snow {
  width: 100%;
}

label, input {
  white-space: nowrap;
  text-align: left;
}

input, select, option, button, input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  font-size: 1.0em;
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 10px;
}

button, input[type="submit"] {
  width: 100%;
  text-align: center;
}
