%fieldset.control-group
  %label{:for => "user_current_password", :id => "user_current_password_label"}
    = t("labels.password_current")
    %small
      = t("captions.required")
  = f.password_field "current_password"
