%fieldset.control-group
  %label{:for => "yob", :id => "yob_label"}
    = t("labels.yob")
    %small
      = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
  = f.email_field "yob"
