%h2	
  = t("titles.adopted", :thing_name => session[:thing].name ? session[:thing].name.titleize : t("defaults.this_thing", :thing => t("defaults.thing")))	
  %br
  = t("titles.byline", :name => session[:thing].user.name)
  %br
  = t("titles.ofline", :organization => session[:thing].user.organization) unless session[:thing].user.organization.blank?
  = render :partial => 'users/reminder' if user_signed_in?