%h4
  = t("titles.adopted", :thing_name => @thing.name != "" ? @thing.name.titleize : t("defaults.this_thing", :thing => t("defaults.thing")))
= t("titles.byline", :name => @thing.user.name)
= t("titles.ofline", :organization => @thing.user.organization) unless @thing.user.organization.blank?
- if admin_signed_in?
  = render :partial => 'users/reminder'
