%h2
  = t("titles.thank_you", :thing => t("defaults.thing"))
  %p Brew A Better Forest would like to thank you for Adopting A Tree by buying you a beer! Please <strong>Edit Your Profile</strong> and fill in your <strong>Shipping Information</strong> to receive your gift.
= render :partial => 'things/abandon'
