<div id="sidebar">
  <h1>Adopt a Hydrant</h1>
  <p id="tagline">
    Claim responsibility for shoveling out a fire hydrant after it snows.
  </p>
  <form>
    <label for="address">
      Address
    </label>
    <input id="address" name="address" type="text" value="" tabindex="1" />
    <label for="city">
      City
    </label>
    <select id="city" name="city" tabindex="2">
      <option value="Boston">Boston</option>
    </select>
    <label for="state">
      State
    </label>
    <select id="state" name="state" tabindex="3">
      <option value="MA">Massachusetts</option>
    </select>
    <button tabindex="4">Find Fire Hydrants</button>
  </form>
  <img id="boston-logo" src="images/logos/boston.png" alt="City of Boston" title="City of Boston" />
  <img id="cert-logo" src="images/logos/cert.png" alt="Community Emergency Response Team" title="Community Emergency Response Team" />
  <img id="cfa-logo" src="images/logos/cfa.png" alt="Code for America" title="Code for America" />
  <img id="hydrant-in-snow" src="images/hydrant-in-snow.jpg">
</div>
<div id="map_canvas">
</div>
