<p>
  You just adopted one of San Francisco's 25,000 catch basins or storm drains.
  Congratulations and thank you for pledging to keep your drain free of leaves
  and debris. You are joining your neighbors in helping to protect the
  environment, manage storm water, and minimize flooding.
</p>

<h2>How to Care For Your Adopted Drain</h2>

<ul>
  <li>
    If possible, clear the drain before it starts raining.
  </li>
  <li>
    Put leaves and other natural material in the green compost bin.
  </li>
  <li>
    Put trash in the black garbage bin.
  </li>
  <li>
    Clear about 10 feet on both sides of the drain.
  </li>
  <li>
    Medical waste or needles? Construction debris? Toxic materials? <a
      href="http://www.sf311.org/index.aspx?page=127">Report it to the City's
      Customer Service Center, 311 on the web (or dial 3-1-1).</a>
  </li>
</ul>

<h2>Drain Cleaning Safety Tips</h2>

<ul>
  <li>
    Never try to lift the drain grate.
  </li>
  <li>
    Clear from the sidewalk, not the street.
  </li>
  <li>
    Wear reflective clothing so vehicles can see you.
  </li>
  <li>
    Always wear gloves and be careful of sharp objects!
  </li>
  <li>
    Use a rake, broom, or shovel - not your hands.
  </li>
</ul>

<em>
  Remember, the City and County of San Francisco won't be held responsible for
  anything that happens to you or others in service of maintaining your drain.
  Please be careful!
</em>

<h2>Free Tools and Training</h2>

<p>
  We invite drain adopters to periodic events during the rainy season where they
  can receive drain cleaning trainings and free tools and supplies. Please keep
  an eye on your email for notification of these events. You will also receive
  periodic email reminders from the SFPUC to clear your drains when rain is
  expected.
</p>

<h2>Spread the Word!</h2>

<p>
  Excited about the Adopt a Drain program? Want to encourage your coworkers,
  friends and neighbors to participate? Utilize social media to spread the
  word.
</p>

<p>
  <a href="https://www.facebook.com/SFWater" style="text-decoration:none !important;">
    <%= image_tag "icons/facebook.png", :alt => "sfwater facebook", :title => "sfwater facebook" %>
  </a>
  <a href="https://www.instagram.com/sfwater/" style="text-decoration:none !important;">
    <%= image_tag "icons/instagram.png", :alt => "sfwater instagram", :title => "sfwater instagram" %>
  </a>
  <a href="https://twitter.com/SFWater" style="text-decoration:none !important;">
    <%= image_tag "icons/twitter.png", :alt => "sfwater twitter", :title => "sfwater twitter" %>
  </a>
</p>

<p>
  Remember to tag us <a href=https://twitter.com/sfwater?lang=en>@SFWater</a>
  and to use the following hashtags: <a
  href="https://twitter.com/hashtag/drainhero">#DrainHero</a>, <a
  href="https://twitter.com/hashtag/adoptadrain">#AdoptADrain</a>, <a
  href="https://twitter.com/hashtag/stormprep">#StormPrep</a> and <a
  href="https://twitter.com/hashtag/sfsewer">#SFSewer</a>.
</p>

<p>
  Thanks again, <%= @user.name.split.first %>, for adopting a drain in San
  Francisco. When each of us helps out a little, it makes a big difference!
</p>

<p>
  Sincerely,
  <br />
  Your friends at the San Francisco Public Utilities Commission
  <br />
  <a href="tel:415-554-3289">415-554-3289</a>
  <br />
  <a href="mailto:info@sfwater.org">info@sfwater.org</a>
</p>

<p>
  PS, Check out these <a
   href="https://www.youtube.com/playlist?list=PLi3CgGqFmQsWOflGLenuFhG13Gc_SjgpG">short
  videos</a> starring your fellow drain heroes.
</p>
