<p>
  Hi <%= @user.name.split.first %>!
</p>

</p>
  You just adopted one of San Francisco's 25,000 catch basins or storm drains.
  Congratulations and thank you for helping to protect the environment, manage
  stormwater, and minimize flooding.
</p>

<p>
  Important safety tips:
</p>

<ul>
  <li>
    <strong>Never</strong> try to lift the drain grate.
  </li>
  <li>
    Clear <strong>from the sidewalk, not the street.</strong>
  </li>
  <li>
    Wear <strong>bright, reflective clothing</strong> so vehicles can see you.
  </li>
  <li>
    Always <strong>wear gloves</strong> and <strong>be careful of sharp objects!</strong>
  </li>
  <li>
    Use a rake, shovel, or broom and dustpan - not your hands.
  </li>
  <li>
    Watch this <a href="https://vimeo.com/147503065">Adopt a Drain a safety
    video</a> from our friends across the Bay.
  </li>
</ul>

<p>
  How to care for your drain:
</p>

<ul>
  <li>
    If possible, clear the drain before it starts raining.
  </li>
  <li>
    Put leaves and other natural material in the green compost bin; put trash
    and debris in the black garbage bin.
  </li>
  <li>
    Clear about 10 feet on both sides of the drain.
  </li>
  <li>
    Medical waste or needles? Construction debris? Toxic materials or unknown
    liquids? Report to 311.
  </li>
  <li>
      If your drain is too dirty or hard to clear, you can't find your drain
      (sometimes the maps are incorrect) or there's some other problem with your
      drain, contact <a href="http://www.sf311.org/index.aspx?page=298">311</a>.
  </li>
</ul>

<p>
  Thanks again, <%= @user.name.split.first %>, for adopting a drain in San
  Francisco. When each of us helps out a little, it makes a big difference!
</p>

<p>
  Sincerely,
</p>

<p>
  Your friends at the San Francisco Public Utilities Commission
  <br/>
  415-554-3289
  <br/>
  <a href="mailto:info@sfwater.org">info@sfwater.org</a>
</p>

<p>
  P.S. Did you download <a href="http://sf311.org/index.aspx?page=797">the 311 app</a>?
</p>

<em>
   Remember, the City and County of San Francisco won't be held responsible for
  anything that happens to you or others in service of maintaining your drain.
  Please be careful!
</em>
