<p>
  Wow! You adopted another drain. Thank you.
</p>

<p>
  Remember, if you encounter medical waste, construction debris, toxic
  materials or some other problem with your drain, <a
  href="https://mobile311.sfgov.org/reports/new?service_id=518d5c0d601827e388000156">report
  it to 311</a> to have it cleared by the City.
</p>

<p>
  As always, please let us know if you have any feedback or questions about this
  program. We love to hear from you!
</p>

<p>
  Thank you,
</p>

<p>
  Your friends at the San Francisco Public Utilities Commission
  <br/>
  415-554-3289
  <br/>
  <a href="mailto:info@sfwater.org">info@sfwater.org</a>
</p>

<p>
  P.S. You also can Adopt-a-Street. In addition to clearing your drain, you and
  a neighborhood group can adopt a larger area and take responsibility for
  helping to keep the street and sidewalk there clean. <a
  href="http://www.sfpublicworks.org/get_involved/adopt-street-program">Learn
  more about this Public Works program</a>.
</p>

<p>
  <em>
    The City and County of San Francisco won't be held responsible for anything
    that happens to you or others in service of maintaining your drain. Please be
    careful!
  </em>
</p>
