<p>
  Wow! You adopted another drain. Thank you.
</p>

<p>
  Did you know? You also can <a
    href="http://www.sfpublicworks.org/get_involved/adopt-street-program">Adopt-a-Street.</a>
  In addition to cleaning your catch basin, you and a neighborhood group can
  adopt an area and take responsibility for helping to keep the street and
  sidewalk there clean. In return, you get to flex your civic pride and the
  City will provide free rakes, brooms, street cleaning supplies, and litter
  and compostable leaf bag pickup.
</p>

<p>
    Be sure to watch this <a href="https://vimeo.com/147503065">safety
      video</a> from our friends across the Bay.
</p>

<p>
  Thank you,
</p>

<p>
  Your friends at the San Francisco Public Utilities Commission
  <br/>
  415-554-3289
  <br/>
  <a href="mailto:info@sfwater.org">info@sfwater.org</a>
</p>

<p>
  P.S. You can take a picture with your cleared drain and tweet us at @SFWater!
  <a href="http://twitter.com/sfwater">http://twitter.com/sfwater</a>
</p>

<p>
  <em>
    Remember, the City and County of San Francisco won't be held responsible for
    anything that happens to you or others in service of maintaining your drain.
    Please be careful!
  </em>
</p>
