/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	height: 100%;
	width: 100%;
}

img[title="Code for San Francisco"]{
  width:100%;
}

.sidebar {
	height: 185px;
	overflow: scroll;
}

.sidebar-full {
	height: auto;
}

.click-to-learn {
	text-align: center;
}

@media (min-width: 768px) {
  .sidebar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    z-index: 2;
  }

  .map-container {
  	margin-left: 25%;
  }
}