- if flash[:notice]
  .alert.alert-info.fade.in{:"data-alert" => true}
    %a{:class => "close", :"data-dismiss" => "alert", :href => "#"}
      &times;
    %p
      = flash[:notice]
- if flash[:warning]
  .alert.alert-warning.fade.in{:"data-alert" => true}
    %a{:class => "close", :"data-dismiss" => "alert", :href => "#"}
      &times;
    %p
      = flash[:warning]
- if flash[:error]
  .alert.alert-danger.fade.in{:"data-alert" => true}
    %a{:class => "close", :"data-dismiss" => "alert", :href => "#"}
      &times;
    %p
      = flash[:error]
- if flash[:alert]
  .alert.alert-danger.fade.in{:"data-alert" => true}
    %a{:class => "close", :"data-dismiss" => "alert", :href => "#"}
      &times;
    %p
      = flash[:alert]
