- if flash[:notice]
  .alert-message.success{:"data-alert" => true}
    %a{:class => "close", :href => "#"}
      &times;
    %p
      = flash[:notice]
- if flash[:warning]
  .alert-message.warning{:"data-alert" => true}
    %a{:class => "close", :href => "#"}
      &times;
    %p
      = flash[:warning]
- if flash[:error]
  .alert-message.error{:"data-alert" => true}
    %a{:class => "close", :href => "#"}
      &times;
    %p
      = flash[:error]
= yield
